name: Deploy User Service

on:
  workflow_call:
    secrets: inherit

jobs:
  chat:
    runs-on: ubuntu-latest
    steps:
      - name: test User Service
        run: echo "User Service Test Successful!"
